<div class="container">
    <h2 class="text-center mt-5">信州美術館WEBへようこそ！</h2>
</div>
<div class="container">
    <div class="row my-2">
        <div class="col-9 border-right">
            <% @museums.each do |museum| %>
                <div class="container border rounded my-4">
                    <div class="row">
                        <div class="col-4 border-right">
                            <%= image_tag "/museum_images/#{museum.image_name}", class: "index-image mx-auto d-block"%>
                        </div>
                        <div class="col-8">
                            <h4 class="mt-2"><%= link_to(museum.name, "/museums/#{museum.id}") %></h4>
                            <p><%= museum.location %></p>
                            <% posts = museum.posts %>
                            <% if posts.exists? %>
                                <% starSum = posts.sum(:star) %>
                                <% starAverage = starSum.fdiv(posts.count).round(2) %>
                                <% museumStar = starSum.fdiv(posts.count).round %>
                                <p>
                                    <%= render partial: "fiveStar", locals: {star: museumStar} %>
                                    <%= "#{starAverage} / 5.0 (#{museum.posts.count})" %>
                                </p>
                            <% else %>
                                <p>
                                    <% 5.times do %>
                                        <span class="fa fa-star text-secondary"></span>
                                    <% end %>
                                    <%= "　" + "- - - (0)" %>
                                </p>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
            <% @posts.each do |post| %>
                <div class="ml-4 p-3 border rounded">
                    <%= render partial: "post", locals: {post: post} %>
                    <%= render partial: "museums/like", locals: {post: post} %> 
                </div>
            <% end %>
        </div>
        <div class="col-3">
            <%= render "search_form" %>
        </div>
    </div>
</div>