<div class="main museumshow-main">
    <div class="museum-detail">
        <h2><%= @museum.name %></h2>
        <p><%= @museum.location %></p>
        <% if @current_user %>
            <% if Favorite.find_by(user_id: @current_user.id, museum_id: @museum.id) %>
                <%= link_to("/favorites/#{@museum.id}/destroy", {method: :post}) do %>
                    <span class="fa fa-star fav-btn-unfav"></span>
                <% end %>
            <% else %>
                <%= link_to("/favorites/#{@museum.id}/create", {method: :post}) do %>
                    <span class="fa fa-star fav-btn"></span>
                <% end %>
            <% end %>
        <% else %>
            <%= link_to("/login") do %>
                <span class="fa fa-star fav-btn"></span>
            <% end %>
        <% end %>
    </div>
    <div class="museum-my-post">
        <% if @current_user %>
            <% mypost = Post.find_by(user_id: @current_user.id, museum_id: params[:id]) %>
            <% if mypost %>
                <p>あなたのクチコミ</p>
                <p><%= mypost.content %></p>
                <%= link_to("編集", "/posts/#{mypost.id}/edit") %>
            <% else %>
                <%= link_to("クチコミを投稿する", "/posts/#{params[:id]}/new") %>
            <% end %>
        <% else %>
            <p>クチコミを投稿するにはログインが必要です</p>
            <%= link_to("ログイン", "/login") %>
        <% end %>
    </div>
    <div class="museum-posts">
        <% @posts.each do |post| %>
            <% user = User.find_by(id: post.user_id) %>
            <p><%= user.name %></p>
            <p><%= post.content %></p>
            <% if @current_user %>
                <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                    <%= link_to("/likes/#{post.id}/destroy", {method: :post}) do  %>
                        <span class="fa fa-heart like-btn-unlike"></span>
                    <% end %>
                <% else %>
                    <%= link_to("/likes/#{post.id}/create", {method: :post}) do %>
                        <span class="fa fa-heart like-btn"></span>
                    <% end %>
                <% end %>
            <% else %>
                <%= link_to("/login") do %>
                    <span class="fa fa-heart like-btn"></span>
                <% end %>
            <% end %>
            <% @likes_count = Like.where(post_id: post.id).count %>
            <%= @likes_count %>
        <% end %>
    </div>
</div>